<div id="home-photos" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="background-color:white;height:auto;">        
        <div id="home-photo-gallery" class="justified-gallery">
            @foreach (var item in Model)
            {
                <a asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="Index" asp-route-ıd="@item.ImageId" rel="nofollow" title="@item.ImageTitle" target="_blank">
                    <img src="@item.ImageSrc" alt="@item.ImageTitle" title="@item.ImageTitle" />
                </a>
            }
        </div>
            <button class="modal-close is-large" aria-label="close" onclick="HomePhotosModalHide();"></button>
    </div>
</div>
