@{ 
    IgnoreBody();
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["imagetitle"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212121">
    <link rel="manifest" href="@Url.Content(UrlPaths.pwapath)">
    <meta name="description" content="Photo By @ViewBag.User You can review the photo, vote and comment">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Zepllin" />
    <meta property="og:title" content="@ViewData["imagetitle"]" />
    <meta property="og:description" content="Photo By @ViewBag.User You can review the photo, vote and comment" />
    <meta property="og:url" content="@Url.Content(BaseUrl.baseurl+$"Image/Show/{ViewData["urlıd"]}/{ViewData["urltitle"]}")" />
    <meta property="og:image" content="@Url.Content(BaseUrl.baseurl+ViewData["url"])" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content(UrlPaths.favicon180x180)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(UrlPaths.favicon32x32)">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(UrlPaths.favicon16x16)">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.sitecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomeallcss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.justifiedgallerycss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.backtotopmincss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.jqueryuibasethemecss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryunobtrusiveajax)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.infoscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.modalscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.justifiedgalleryscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquerynotifyscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.backtotopscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryuisearchscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.startscript)"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.minsitecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomeallcss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.backtotopmincss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.justifiedgallerycss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.jqueryuibasethemecss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryunobtrusiveajax)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.mininfoscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.minmodalscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.justifiedgalleryscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.backtotopscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryuisearchscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquerynotifyscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.minstartscript)"></script>
    </environment>
</head>
<body>
    @await Component.InvokeAsync("Header")
    @await Component.InvokeAsync("ImageContainer")
    <a href="#" class="backTop">Top</a>
</body>
</html>