@model ChangePassword
@{
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Reset Password | Zepllin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212121">
    <link rel="manifest" href="@Url.Content(UrlPaths.pwapath)" />
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(UrlPaths.favicon16x16)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(UrlPaths.favicon32x32)">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content(UrlPaths.favicon180x180)">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.sitecss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryvalidatescript)"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.minsitecss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryvalidatescript)"></script>
    </environment>
</head>
<body>
    <section class="hero is-fullheight hero-background is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen">
        <div class="hero-body">
            <div class="container has-text-centered is-fullhd is-widescreen">
                <div class="column is-4 is-offset-4">
                    <form method="post" asp-controller="ResetPassword" asp-action="ResetPass">
                        <div class="box">
                            <p class="subtitle is-4 has-text-black">Password Refresh:</p>
                            <div asp-validation-summary="ModelOnly" class="is-danger"></div>
                            <input asp-for="Token" type="hidden" />
                            <input asp-for="Email" type="hidden" />

                            <div class="field">
                                <label class="label" asp-for="Password">New Password:</label>
                                <span asp-validation-for="Password" class="is-danger"></span>
                                <div class="control">
                                    <input class="input is-medium is-black" type="password" asp-for="Password" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" asp-for="ConfirmPassword">New Password Re::</label>
                                <span asp-validation-for="ConfirmPassword" class="is-danger"></span>
                                <div class="control">
                                    <input class="input is-medium is-black" type="password" asp-for="ConfirmPassword" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="button is-fullwidth is-black has-text-white" type="submit" value="Update" />
                                    @if (!string.IsNullOrEmpty(nameof(ViewBag.PasswordSucceedMessage)))
                                    {
                                        <label class="label">@ViewBag.PasswordSucceedMessage</label>
                                    }
                                    @if (string.IsNullOrEmpty(nameof(ViewBag.PasswordErrorMessage)))
                                    {
                                        <label class="label">@ViewBag.PasswordErrorMessage</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
