@using System.Drawing
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@UrlPaths.title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="@UrlPaths.metadecription">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(UrlPaths.favicon16x16)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(UrlPaths.favicon32x32)">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content(UrlPaths.favicon180x180)">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.sitecss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryunobtrusiveajax)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquerynotifyscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.infoscript)"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.minsitecss)" /> 
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryunobtrusiveajax)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquerynotifyscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.mininfoscript)"></script> 
    </environment>
</head>
<body>
   
    @await Component.InvokeAsync("AdminHeader")
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-thirds mt-1">
                @foreach (var list in Model)
                {
                    Image img = Image.FromFile(RootFolder.RootFolderName + list.ImageSrc);
                    int w = img.Width;
                    int h = img.Height;
                    if(w > h)
                    { 
                    <div class="field">
                        <div class="control">    
                            <img style="margin-left:50px;" height="800" width="800" src="@Url.Content(BaseUrl.baseurl + list.ImageSrc)" alt="@list.ImageTitle" title="@list.ImageTitle" />
                            <form method="post" asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="Approveyes" asp-route-email="@list.UserEmail" asp-route-yes="@list.ImageId" data-ajax="true" data-ajax-method="post" data-ajax-complete="approveyes" data-ajax-failure="approveno">
                                <button class="button is-small is-success appbutton mt-1" type="submit">Onayla</button>
                           </form>
                        </div>
                    </div>
                    }
                    else
                    {
                        if(w < h)
                        {
                        <div class="field">
                         <div class="control">
                          <img style="margin-left:150px;" height="500" width="500" src="@Url.Content(BaseUrl.baseurl + list.ImageSrc)" alt="@list.ImageTitle" title="@list.ImageTitle" />
                            <form method="post" asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="Approveyes" asp-route-email="@list.UserEmail" asp-route-yes="@list.ImageId" data-ajax="true" data-ajax-method="post" data-ajax-complete="approveyes" data-ajax-failure="approveno">
                             <button class="button is-small is-success appbutton" type="submit">Onayla</button>
                           </form>
                         </div>
                       </div>
                        }
                    }
                    <div class="field">
                        <div class="control">
                            <form method="post" asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="Approveno" asp-route-no="@list.ImageId" asp-route-appimgsrc="@list.ImageSrc" data-ajax="true" data-ajax-method="post" data-ajax-complete="approveno">
                                <button class="button is-small is-danger appbutton" type="submit">Sil</button>
                            </form>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <form method="post" asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="BestOfPhoto" asp-route-photo="@list.ImageId" data-ajax="true" data-ajax-method="post" data-ajax-complete="besofphotoyes" data-ajax-failure="bestofphotono">
                                <button class="button is-small is-size-7 appbutton is-warning" type="submit">Ana Sayfada Göster</button>
                            </form>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <form method="post" asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="UpdateToZero" asp-route-upzero="@list.ImageId" data-ajax="true" data-ajax-method="post" data-ajax-complete="listofphotoyes" data-ajax-failure="listofphotono">
                                <button class="button is-small is-size-7 appbutton is-black" type="submit">Ana Sayfadan Çıkar</button>
                            </form>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <p class="is-size-6 has-text-centered">
                                @list.ImageWithoutSeoTitle
                                <br />
                                @list.UserName
                                <br />
                                @list.ImageExifExposureMode
                                <br/>
                                @list.ImageExifExposureTime
                                <br/>
                                @list.ImageExifExposureProgram
                                <br/>
                                @list.ImageExifFNumber
                                <br/>
                                @list.ImageExifFocalLength
                                <br/>
                                @list.ImageExifIso
                                <br/>
                                @list.ImageExifLensModel
                                <br/>
                                @list.ImageExifMake
                                <br/>
                                @list.ImageExifMeteringMode
                                <br/>
                                @list.ImageExifModel
                                <br/>
                                @list.ImageExifShutterSpeedValue
                                <br />
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

