<div class="hero-body is-centered is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen" style="margin-top:120px;">
    <div class="container is-widescreen is-fullhd">
        <div class="columns is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen is-centered">
            <div class="column is-half">
                <div class="box is-black">
                    <form asp-controller="Home" asp-action="Search">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <label class="label">
                                    <input id="m-search" aria-label="Search" class="input is-black is-fullwidth has-text-black" name="term" type="text">
                                </label>
                            </p>
                            <p class="control">
                                <a id="searchbutton" href="#" title="Search" class="button is-black is-family-sans-serif is-small">Search</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container is-widescreen is-fullhd">
    <div id="main-gallery" class="justified-gallery">
        @foreach (var item in Model)
        {
            @*<input id="ra" type="hidden" value="@Url.Content(BaseUrl.baseurl+item.ImageSrc)" />*@
            <a href="@Url.Action("Show", "Image", new { ImageId = item.ImageId, ImageTitle = UrlSeo.ConvertToSeoUrl(item.ImageTitle) })" title="@item.ImageWithoutSeoTitle">
                <img alt="@item.ImageTitle" title="@item.ImageWithoutSeoTitle" src="@Url.Content(BaseUrl.baseurl+item.ImageSrc)" />
                <div class="jg-caption">
                    <h2>@item.ImageWithoutSeoTitle</h2>
                </div>
            </a>
        }
    </div>
    @await Component.InvokeAsync("CategoryList")
    @await Component.InvokeAsync("Footer")
</div>

