@using Microsoft.AspNetCore.Http
<nav class="navbar is-transparent is-mobile is-desktop is-tablet is-fullhd is-widescreen is-fixed-top">
    <div class="container is-widescreen is-fullhd">
        <div class="navbar-brand">
            <a href="@Url.Action("Index","Home")">
                <img class="image logo" src="@Url.Content(UrlPaths.logo)" height="70" width="81" alt="zepplin-logo" title="Zepllin" />
            </a>
            <span class="navbar-burger burger" data-target="burger-menu">
                <span class="burger-spans"></span>
                <span class="burger-spans"></span>
                <span class="burger-spans"></span>
            </span>
        </div>
        <div id="burger-menu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable" href="#">
                    <a class="navbar-link is-size-6 is-size-6-desktop is-size-6-fullhd is-size-6-mobile is-size-6-tablet is-size-6-widescreen has-text-white is-arrowless" href="#">Categories</a>
                    <div class="navbar-dropdown">
                        @foreach (var item in Model)
                        {
                            <a href="@Url.Action("List","Category",new { CategoryFk = item.CategoryId  })" class="navbar-item is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen has-text-black catname member">@item.CategoryName</a>
                        }
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable" href="#">
                    @if (Context.Session.GetString("realusername") != null)
                    {
                        <a class="navbar-link is-size-6 is-size-6-desktop is-size-6-mobile is-size-6-fullhd is-size-6-tablet is-size-6-widescreen has-text-whitelogin">Profile</a>
                        <div class="navbar-dropdown">
                            <p class="navbar-item is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen">Welcome: @Context.Session.GetString("realusername")</p>
                            <a class="navbar-item is-size-7 is-size-7-desktop is-size-7-mobile is-size-7-fullhd is-size-7-tablet is-size-7-widescreen member" href="@Url.Action("MyProfile", "Profile",new { UserNormalId =  Context.Session.GetString("userguidid").Substring(1,8)})"><i class="fas fa-image" style="color:black;"></i>&nbsp;&nbsp;My Photos</a>
                            <a class="navbar-item is-size-7 is-size-7-desktop is-size-7-mobile is-size-7-fullhd is-size-7-tablet is-size-7-widescreen member" href="@Url.Action("UserSıgnOut","Profile")"><i class="fas fa-sign-out-alt"></i>&ensp;Sign Out</a>
                        </div>
                    }
                    else
                    {
                        if (Context.Session.GetString("realusername") == null)
                        {
                            <a class="navbar-link is-size-6 is-size-6-desktop is-size-6-fullhd is-size-6-mobile is-size-6-tablet is-size-6-widescreen has-text-white is-arrowless" href="#">Login</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen has-text-black member" href="@Url.Action("SignIn","Account")"><i class="fas fa-sign-in-alt"></i>&ensp;Sign-In</a>
                                <a class="navbar-item is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen has-text-black member" href="@Url.Action("Register","Registration")"><i class="fas fa-user-plus"></i>&nbsp;Register</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</nav>
