@{
    IgnoreBody();
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@UrlPaths.title&nbsp;|&nbsp;@ViewData["categorytitle"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212121">
    <link rel="manifest" href="@Url.Content(UrlPaths.pwapath)" />
    <meta name="description" content="Digital photography works in the @Wordlow(Convert.ToString(ViewData["categorytitle"])) category">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content(UrlPaths.favicon180x180)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(UrlPaths.favicon32x32)">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(UrlPaths.favicon16x16)">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.sitecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomeallcss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.justifiedgallerycss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.jqueryuibasethemecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.backtotopmincss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.justifiedgalleryscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryuisearchscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.backtotopscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.startscript)"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.minsitecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomeallcss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.backtotopmincss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.justifiedgallerycss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.jqueryuibasethemecss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.justifiedgalleryscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryuisearchscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.backtotopscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.minstartscript)"></script>
    </environment>
</head>
<body>
    @await Component.InvokeAsync("Header")
    <div class="container is-widescreen is-fullhd">
        <div class="columns is-fullmobile is-fullhd is-fulltablet is-fullwidescreen is-fulldesktop" style="margin-top:110px;">
            <div class="column">
                <div id="category-gallery" class="justified-gallery">
                    @foreach (var item in Model)
                    {
                        <a href="@Url.Action("Show","Image",new { ImageId = item.ImageId,ImageTitle = UrlSeo.ConvertToSeoUrl(item.ImageTitle) })" title="@item.ImageWithoutSeoTitle">
                            <img alt="@item.ImageTitle" title="@item.ImageTitle" src="@Url.Content(BaseUrl.baseurl+item.ImageSrc)" />
                            <div class="jg-caption">
                                <h2>@item.ImageWithoutSeoTitle</h2>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="backTop">Top</a>
</body>
</html>

@functions
{

    string Wordlow(string str)
    {
        return str.ToLower();
    }

}