@using System.Drawing
@using Microsoft.AspNetCore.Http
<section class="hero has-background-light">
    <div class="hero-body">
        <div class="container is-widescreen is-fullhd">
            <div class="columns is-centered is-gapless is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen" style="margin-top:75px;">
                @foreach (var item in Model)
                {
                    Image img = Image.FromFile(RootFolder.RootFolderName + item.ImageSrc);
                    int h = img.Height;
                    int w = img.Width;

                    if (w > h)
                    {@* yatay fotoğraf*@
                    <div class="column is-9">
                        <figure class="image is-3by2">
                            <img class="userbyimage" src="@Url.Content(BaseUrl.baseurl + item.ImageSrc)" alt="@item.ImageTitle" title="@item.ImageTitle" />
                        </figure>
                        <div class="field mt-2">
                            <div class="control">
                                <h6 class="has-text-justified is-family-sans-serif has-text-black is-capitalized title is-6 is-spaced">@item.ImageWithoutSeoTitle</h6>
                            </div>
                        </div>

                        <div class="field mt-1">
                            <div class="control">
                                <a href="@Url.Action("Images","Member",new { username = item.UserName })" class="has-text-danger-dark has-text-weight-light is-family-sans-serif is-size-6 is-size-6-desktop is-size-6-mobile is-size-6-fullhd is-size-6-tablet is-size-6-widescreen pt-1 member is-pulled-left">
                                    @item.UserName
                                </a>
                                @if (Context.Session.GetString("realusername") == item.UserName)
                                {
                                    <form asp-controller="Image"
                                          asp-action="DeleteImageFromDisk"
                                          asp-route-ıd="@item.ImageId"
                                          asp-route-imgsrc="@item.ImageSrc"
                                          data-ajax="true"
                                          data-ajax-mode="replace"
                                          data-ajax-method="post"
                                          data-ajax-success="ondeleteımage"
                                          data-ajax-complete="deleteimage"
                                          data-ajax-failure="deleteimageerror">
                                        <button class="button is-black is-small has-text-centered has-text-white mb-6 is-pulled-right">
                                            <span>Delete</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </button>
                                    </form>
                                    <button style="width:75px; margin-right:5px;" class="button is-black is-small has-text-centered has-text-white is-pulled-right" onclick="updatemodalshow();">
                                        <span>Edit</span>
                                        <span class="icon is-small">
                                            &ensp;&ensp;&nbsp;<i class="far fa-edit"></i>
                                        </span>
                                    </button>
                                    <div id="upmodal" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-content" style="height:250px;width:350px;background:white;">
                                            <div class="columns is-gapless is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen">
                                                <div class="column">
                                                    <form method="post"
                                                          asp-controller="Image"
                                                          asp-action="UpdateImages"
                                                          asp-route-Id="@item.ImageId"
                                                          data-ajax="true"
                                                          data-ajax-mode="replace"
                                                          data-ajax-method="post"
                                                          data-ajax-complete="updatecomplete"
                                                          data-ajax-failure="updatefailure">
                                                        <div class="column is-three-fifths is-offset-one-fifth">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <input class="input is-small is-fullwidth is-capitalized mt-1" type="text" name="imageupdatetitle" value="@item.ImageWithoutSeoTitle" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column is-three-fifths is-offset-one-fifth">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <div class="select is-fullwidth is-black has-text-centered mt-1">
                                                                        <select name="imageupdatecategory">
                                                                            @foreach (var cat in ViewData["allcategory"] as List<Category>)
                                                                            {
                                                                                <option value="@cat.CategoryId">@cat.CategoryName</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column is-three-fifths is-offset-one-fifth">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <button class="button is-black is-fullwidth is-outlined is-small has-text-centered">
                                                                        <span>Ok</span>
                                                                        <span class="icon is-small">
                                                                            <i class="far fa-edit"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="modal-close is-large" aria-label="close" onclick="updatemodalhide();"></button>
                                    </div>
                                }@* yatay fotoğraf bitimi*@
                            </div>
                        </div>
                        <div class="column is-4 is-offset-8">
                            @if (Context.Session.GetString("realusername") != null)
                            {
                                <div class="field">
                                    <div class="control">
                                        <form method="post" asp-route-commentusername="@Context.Session.GetString("realusername")"
                                              asp-route-commentfk="@item.ImageId" asp-controller="Image" asp-action="AddComment"
                                              data-ajax="true"
                                              data-ajax-method="POST"
                                              data-ajax-mode="replace"
                                              data-ajax-begin="onbegintext"
                                              data-ajax-success="onlistsuccess"
                                              data-ajax-update="#comment-container-putter"
                                              data-ajax-failure="oncommentfailure">
                                            <textarea class="textarea is-small has-fixed-size is-dark is-pulled-right is-size-6" rows="3" name="commentcontents" placeholder="Comment"></textarea>
                                            <button class="button is-small is-black is-pulled-right mt-1" type="submit">
                                                <span class="icon">
                                                    <i class="fas fa-share"></i>
                                                </span>
                                                <span class="has-text-centered">Share</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    if (w < h)
                    { @* dikey fotoğraf*@
                    <div class="column is-5">
                        <figure class="image is-2by3">
                            <img class="userbyimage" src="@Url.Content(BaseUrl.baseurl + item.ImageSrc)" alt="@item.ImageTitle" title="@item.ImageTitle" />
                        </figure>
                        <div class="field">
                            <div class="control">
                                <h6 class="has-text-justified is-family-sans-serif mt-1 has-text-black title is-capitalized is-6">@item.ImageWithoutSeoTitle</h6>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <a href="@Url.Action("Images","Member",new { username = item.UserName })" class="has-text-danger-dark  is-family-primary is-size-6 is-size-6-desktop is-size-6-mobile is-size-6-fullhd is-size-6-tablet is-size-6-widescreen pt-1 member">
                                    @item.UserName
                                </a>
                                @if (Context.Session.GetString("realusername") == item.UserName)
                                {
                                    <form asp-controller="Image"
                                          asp-action="DeleteImageFromDisk"
                                          asp-route-ıd="@item.ImageId"
                                          asp-route-imgsrc="@item.ImageSrc"
                                          data-ajax="true"
                                          data-ajax-mode="replace"
                                          data-ajax-method="post"
                                          data-ajax-success="ondeleteımage"
                                          data-ajax-complete="deleteimage"
                                          data-ajax-failure="deleteimageerror">
                                        <button style="margin-top:-20px;" class="button is-black is-small has-text-centered has-text-white is-pulled-right">
                                            <span>Delete</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </button>
                                    </form>

                                    <button style="width:75px;margin-right:5px;margin-top:-20px;" class="button is-black is-small has-text-centered has-text-white is-pulled-right" onclick="updatemodalshow();">
                                        <span>Edit</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </button>
                                    <div id="upmodal" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-content" style="height:250px;width:350px;background:white;">
                                            <div class="columns is-gapless is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen">
                                                <div class="column">
                                                    <form method="post"
                                                          asp-controller="Image"
                                                          asp-action="UpdateImages"
                                                          asp-route-Id="@item.ImageId"
                                                          data-ajax="true"
                                                          data-ajax-mode="replace"
                                                          data-ajax-method="post"
                                                          data-ajax-complete="updatecomplete"
                                                          data-ajax-failure="updatefailure">
                                                        <div class="column is-three-fifths is-offset-one-fifth">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <input class="input is-small is-fullwidth is-capitalized mt-1" type="text" name="imageupdatetitle" value="@item.ImageWithoutSeoTitle" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column is-three-fifths is-offset-one-fifth">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <div class="select is-fullwidth is-black has-text-centered mt-1">
                                                                        <select name="imageupdatecategory">
                                                                            @foreach (var cat in ViewData["allcategory"] as List<Category>)
                                                                            {
                                                                                <option value="@cat.CategoryId">@cat.CategoryName</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column is-three-fifths is-offset-one-fifth">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <button class="button is-black is-fullwidth is-outlined is-small has-text-centered">
                                                                        <span>Ok</span>
                                                                        <span class="icon is-small">
                                                                            <i class="far fa-edit"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="modal-close is-large" aria-label="close" onclick="updatemodalhide();"></button>
                                    </div>
                                }@*dikey fotoğraf bitimi*@
                            </div>
                        </div>

                        @if (Context.Session.GetString("realusername") != null)
                        {
                            <div class="field">
                                <div class="control">
                                    <form method="post" asp-route-commentusername="@Context.Session.GetString("realusername")"
                                          asp-route-commentfk="@item.ImageId" asp-controller="Image" asp-action="AddComment"
                                          data-ajax="true"
                                          data-ajax-method="POST"
                                          data-ajax-mode="replace"
                                          data-ajax-begin="onbegintext"
                                          data-ajax-success="onlistsuccess"
                                          data-ajax-update="#comment-container-putter"
                                          data-ajax-failure="oncommentfailure">
                                        <textarea class="textarea is-small has-fixed-size is-dark mt-1 is-pulled-right is-size-6" rows="3" name="commentcontents" placeholder="Comment"></textarea>
                                        <button class="button is-small is-black is-pulled-right mt-1">
                                            <span class="icon">
                                                <i class="fas fa-share"></i>
                                            </span>
                                            <span class="has-text-centered">Share</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
            <div id="tab-column" class="column is-3">
                <nav class="tabs is-centered is-small is-boxed is-fullwidth">
                    <ul>
                        <li class="tab is-active" onclick="openTab(event, 'exifs');">
                            <a href="#" rel="nofollow">
                                <span class="icon is-small"><i class="far fa-image" aria-hidden="true"></i></span>
                                <span>Exif</span>
                            </a>
                        </li>
                        <li class="tab" onclick="openTab(event,'votes');">
                            <a href="#" rel="nofollow">
                                <span class="icon is-small"><i class="fas fa-poll-h" aria-hidden="true"></i></span>
                                <span>Vote</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="exifs" class="field content-tab is-light">
                    <div class="control">
                        <p class="has-text-centered"><i class="fas fa-camera fa-2x"></i></p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Brand:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifMake
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-primary">Model:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-primary">
                            @item.ImageExifModel
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Lens:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifLensModel
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">F Number:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifFNumber
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Exposure Time:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-primary">
                            @item.ImageExifExposureTime
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Focal Length:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifFocalLength
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Iso Speed:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifIso
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">ExposureMode:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifExposureMode
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Exposure Program:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifExposureProgram
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">MeteringMode:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifMeteringMode
                        </p>
                        <p class="has-text-danger-dark has-text-centered is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd is-family-sans-serif">Shutter-Speed:</p>
                        <p class="is-size-6 is-size-6-mobile is-size-6-touch is-size-6-tablet is-size-6-desktop is-size-6-widescreen is-size-6-fullhd has-text-centered has-text-black is-family-sans-serif">
                            @item.ImageExifShutterSpeedValue
                        </p>
                    </div>
                </div>
                <div id="votes" class="field content-tab is-light" style="display:none;">
                    <div class="field has-text-centered">
                        <div class="control">
                            @foreach (var reslist in ViewBag.VoteList as List<Vote>)
                            {
                                <div id="update-vote-container" class="field votefield">
                                    <h1 id="votenumbs" class="subtitle is-1 has-text-centered has-text-danger-dark is-family-primary vth">@reslist.VoteNumbers</h1>
                                </div>
                                if (reslist.VoteNumbers > 1000)
                                {
                                    <div class="field votefield">
                                        <h1 class="subtitle is-1 has-text-centered has-text-danger-dark is-family-primary vth">@reslist.VoteNumbers.ToString().Substring(0, reslist.VoteNumbers.ToString().Length - 3)@Convert.ToString(".K")</h1>
                                    </div>
                                }
                                if (Context.Session.GetString("realusername") != null)
                                {
                                    <form method="post" asp-route-count="@reslist.VoteContentId" asp-controller="Image" asp-action="UpdateVote" data-ajax="true" data-ajax-method="post" data-ajax-update="#update-vote-container" data-ajax-success="votesuccess" data-ajax-failure="votefailure">
                                        <input id="votetz" type="hidden" name="upvote" value="@reslist.VoteNumbers" />
                                        @if (item.UserName == Context.Session.GetString("realusername"))
                                        {
                                            <button style="display:none;" class="button is-normal is-black vote">
                                                <span class="icon">
                                                    <i class="far fa-hand-point-up"></i>
                                                </span>
                                                <span class="has-text-centered pt-1">Vote</span>
                                            </button>
                                        }
                                        else
                                        {
                                            if (item.UserName != Context.Session.GetString("realusername"))
                                            {
                                                <button id="votebutton" class="button is-small is-black vote">
                                                    <span class="icon">
                                                        <i class="far fa-hand-point-up"></i>
                                                    </span>
                                                    <span class="has-text-centered pt-1">Vote</span>
                                                </button>
                                            }
                                        }
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync("ImageCommentContainer", ViewBag.id)

