<div id="adm-gallery" class="justified-gallery">
    @foreach (var item in Model)
    {
        <a asp-area="AdminImagesApprove" asp-controller="AdminImage" asp-action="Index" asp-route-ıd="@item.ImageId" rel="nofollow" title="@item.ImageTitle">
            <img alt="@item.ImageTitle" src="@Url.Content(BaseUrl.baseurl+item.ImageSrc)" />
            <div class="jg-caption">
                <h2>@item.ImageWithoutSeoTitle</h2>
            </div>
        </a>
    }
</div>


