@model RefreshPassword
@{

    IgnoreBody();
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Settings | Zepllin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212121">
    <link rel="manifest" href="@Url.Content(UrlPaths.pwapath)" />
    <meta name="description" content="@UrlPaths.metadecription">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(UrlPaths.favicon16x16)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(UrlPaths.favicon32x32)">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content(UrlPaths.favicon180x180)">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.sitecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomeallcss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.justifiedgallerycss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.jqueryuibasethemecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.backtotopcss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.startscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryunobtrusiveajax)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryvalidatescript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.justifiedgalleryscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryuisearchscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.backtotopscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.infoscript)"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.bulmacss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.minsitecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.fontawesomeallcss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.justifiedgallerycss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.jqueryuibasethemecss)" />
        <link rel="stylesheet" type="text/css" href="@Url.Content(UrlPaths.backtotopmincss)" />
        <script type="text/javascript" src="@Url.Content(UrlPaths.jquery)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.minstartscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryunobtrusiveajax)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryvalidatescript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.justifiedgalleryscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.jqueryuisearchscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.backtotopscript)"></script>
        <script type="text/javascript" src="@Url.Content(UrlPaths.mininfoscript)"></script>
    </environment>
</head>
<body>
    @await Component.InvokeAsync("Header")
    <div class="container">
        <div class="columns is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen is-centered" style="margin-top:120px;">
            <div class="column is-one-quarter">
                <form method="post" asp-controller="ChangePassword" asp-action="ChangePassworder">
                    <div asp-validation-summary="All">
                        <ul>
                            <li>
                                <label class="is-family-sans-serif label is-black" asp-for="OldPassword">Old Password:</label>
                            </li>
                            <li>
                                <input class="input is-small is-black is-fullwidth mt-2" asp-for="OldPassword" type="password" autocomplete="off" />
                            </li>
                            <li>
                                <label class="is-family-sans-serif label is-black" asp-for="NewPassword">NewPassword:</label>
                            </li>
                            <li>
                                <input class="input is-small is-black is-fullwidth mt-2" asp-for="NewPassword" type="password" autocomplete="off" />
                                <span asp-validation-for="NewPassword"></span>
                            </li>
                            <li>
                                <label class="is-family-sans-serif label is-black" asp-for="RePassword">RePassword:</label>
                            </li>
                            <li>
                                <input class="input is-small is-black is-fullwidth mt-2" asp-for="RePassword" type="password" autocomplete="off" />
                                <span asp-validation-for="RePassword"></span>
                            </li>
                            <li>
                                <input class="button is-small is-black is-fullwidth has-text-centered is-family-sans-serif  mt-2" type="submit" value="Update Password" />
                            </li>
                            <li>
                                @if (ViewData["PasswordChanged"] is not null)
                                {
                                    <p class="is-size-6 is-size-6-desktop is-size-6-fullhd is-size-6-mobile is-size-6-tablet is-size-6-widescreen has-text-centered is-family-sans-serif">@ViewData["PasswordChanged"]</p>
                                }
                            </li>

                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
